{{#if comments}}
<section class="index-section">
  <ul class="list-group">
    {{#each comments}}
      <li class="list-group-item ">
        <h5>{{this.title}}</h5>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <p>{{this.brief_comment}}</p>
            <p class="text-secondary">{{this.brief_updated_at}}</p>
          </div>
          <a href="/forum/{{this._id}}/detail" class="btn btn-info text-light align-self-end">Detail</a>
        </div>
      </li>
    {{/each}}
  </ul>
</section>
{{else}}
  <h1>Leave a Comment First!</h1>
{{/if}}

<a href="/forum/comment" class="btn btn-primary w-100 mt-3">Comment</a>
